<h3>{{model.title}}</h3>
<img src={{model.image}}>
<br>
<h3>${{model.price}}</h3>
<p>{{model.description}}</p>
<br>
<p>By {{model.author}} on {{model.date}}</p>

{{update-listing listing=model update="update"}}

<button {{action 'destroyListing' model}}>Delete</button>
